/* for utility classes not specific to this project */

.arial
{
    font-family: Arial, sans-serif;
}

.bold 
{
    font-weight: bold;
}

.flex-center 
{
    align-items: center
}

.flex-column 
{
    display: flex;
    flex-direction: column;
}

.flex-row 
{
    display: flex;
    flex-direction: row;
}

.flex-1 
{
    flex: 1;
    overflow: hidden;
}

.full-width
{
    width: 100%
}

.padded 
{
    padding: 5pt;
}

.x-large 
{
    font-size: x-large;
}
